html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Prend toute la hauteur de la fenêtre */
  }
  
  .router-outlet-container {
    flex: 1; /* S'étend pour occuper l'espace restant sous la navbar */
  }